body{
    font-family: 'Blinker', sans-serif;
    background-image: url("https://image.shutterstock.com/image-photo/one-most-popular-travel-place-260nw-352458863.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#container{
    background-color: rgba(77, 75, 75, 0.6);
    border-radius: 85px 85px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    background-color: rgba(77, 75, 75, 0.6);
    color: rgb(251, 255, 7);
    text-align: center;
    padding:1px;
    margin: 0 auto;
    border-radius: 0 0 85px 85px;
}

h1{
    font-family: 'Blinker', sans-serif;
    font-size: 10em;
    font-weight: 700;
    width:100%;
    margin: 0;
    color: black;
    background-image: url("https://image.shutterstock.com/image-photo/one-most-popular-travel-place-260nw-352458863.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}

p{
    color: #af2901;
    background-color: rgb(251, 255, 7);
    margin: 0;
}

.display1e2{
    margin: 25px auto;
    padding: 2%;
    height: 100%;
    width: 50%;
    text-align: center;
    color: rgb(251, 255, 7);
    font-size: larger;
    border-radius: 85px ;
}

#mensagem {
    padding: 15px;
    margin: 20px;
    font-size: large;
    width: 280px;
}

#select{
    padding: 20px;
    font-size: large;
    margin: 20px;
    width: 290px;
}

.incremento{
    margin: 20px;
    display: none;
}

#numeroCesar{
    margin: 0 auto;
    padding: 15px;
    width: 70px;
    font-size: medium;
    text-align: center;
    display: none;
}

.radio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    text-align: left;
    width: 180px;
}

#codificar, #decodificar{
    margin: 15px;
}

#submit{
    margin: 20px;
    padding: 1%;
    font-size: large;
    height: 50px;
    width: 280px;
    border: 3px solid black;
    border-radius: 25px;
    transition: 0.5s;
}

#submit:hover{
    transform: scale(1.2);
    background-color: rgb(192, 192, 192);
}

@media screen and (max-width: 700px){
    img, #container, header, main {
        flex-direction: column;
        max-width: 100%;
        height:auto;
    }

    h1 {
        font-size: 27vw;
    }